 <footer class="#26a69a teal lighten-1 center">
        <div class="container">
            <div class="row">
                <div class="col l12">
                    <h5 class="white-text">Developers - Contact Us</h5>
                    <a class="hoverable" href="https://linktr.ee/matthewbrignola" target="_blank">Matt
                        Brignola</a> |
                    <a class="hoverable" href="https://linktr.ee/AndrewMcInally" target="_blank">Andrew
                        Mclnally</a> |
                    <a class="hoverable" href="https://linktr.ee/stephensmoore" target="_blank">Stephen Moore</a> |
                    <a class="hoverable" href="https://linktr.ee/jenya10016" target="_blank">Jenya
                        Seletsky</a>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                © 2022 Copyright &nbsp;&nbsp; Project Management System
            </div>
        </div>
    </footer>