<header class="header">
    <div class="row">
        <div class="col-12 header_text text-center">
            <h1>PMS</h1>
            <hr>
            <h2>Project Management System</h2>
        </div>
    </div>
</header>