<header class="header">
    <div class="row">
        <div class="col-12 header_text text-center">
             <img src="/images/watch1dcopy.jpg"
                 height="150"
                 width="150">
            <hr>
            <h2>Project Management System</h2>
        </div>
    </div>
</header>