<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        {{#unless loggedInUser}}
          <li class="nav-item">
            <a id="loginBtn" class="nav-link" href="/login">Login</a>
          </li>
        {{else}}
          <li class="nav-item">
            <a class="nav-link" href="/projects">Projects</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/createProject">Create Project</a>
          </li>
          <li class="nav-item">
            <a id="logoutBtn" class="nav-link" href="#">Logout</a>
          </li>
        {{/unless}}

      </ul>
    </div>
  </div>
</nav>

<script src="./js/logout.js"></script>