<form>
  <div class="mb-3">
    <label for="projectName" class="form-label">Project Name</label>
    <input type="text" class="form-control" id="projectName" />

  </div>

  <button type="submit" id ="createProjectBtn"class="btn btn-primary">Create Project</button>
</form>