<form>
  <div class="mb-3">
    <label for="projectName" class="form-label">Project Name</label>
    <input type="text" class="form-control" id="projectName" />
  </div>
  <div class="mb-3">
    <label for="projectDesc" class="form-label">Project Description</label>
    <textarea id="projectDesc" class="form-control"></textarea>
  </div>
  <button type="submit" id="createProjectBtn" class="btn btn-primary">Create
    Project</button>
</form>
<script src="./js/project.js"></script>