<section id="section">
  <div class="row">
    <div class="col-12 col-md-3 m-4">
      <h1>{{project.projectName}}</h1>
      <p>
        {{{project.projectDesc}}}
      </p>
      <h3>Add Tasks</h3>
      {{>taskForm}}
      <h3>Tasks</h3>
      {{>tasks tasks}}
    </div>
  </div>
</section>
