<section>
  <h1>{{task.taskName}}</h1>
  <p>{{task.taskDesc}}</p>
  <form>
    <label for="completed" class="form-label">Completed</label>
    <input type="checkbox" id="completed" />
  </form>
</section>